doctype html

html

   head
      title = "La page accueil" ;
      link(rel="stylesheet", href="styles.css")
   body 
   
   
    
    include ./header.pug
    
    h2 BIENVENU DANS LE PAGE WEB DE LA DIRECTION GENERALE DE LA PROTECTION JUDICIAIRE ET SOCIAL
    div 
      p Nous avons comme mission d'assister les enfants victimes en danger et/ou en conflit avec la loi.
         


    include ./footer.pug