html

   head
      title = "La page accueil" ;
      link(rel="stylesheet", href="styles.css")
   body 
   
   
    
    include ./header.pug
    
    
    div 
      p Veuillez vous connecter au heure de travail, ce site est ouvert du lundi au vendredi de 9h à 17h.
         


    include ./footer.pug