header 
    nav
        div
            button 
                a(href="/accueil") ACCUEIL
            button  
                a(href="/nosServices") NOS SERVICES
            button 
                a(href="/contact") CONTACT

