doctype html

html

   head

      title = "nos service" ;
      link(rel="stylesheet", href="styles.css")
   body 
    include ./header.pug


    div  
        div 
            h2 AEMO 
            p l'Action Educative en Milieu Ouvert joue un role essentiel dans la protection de l'enfant. Elle constitue le lien entre les services public en matiere de protection de l'enfance et les populations. 
        div 
            h2 CENTRE DE PREMIER ACCUEIL
            p 
        div 
            h2 CENTRE D'ADAPTATION SOCIALE 
            p
        div 
            h2 CENTRE POLYVALENT
            p
    include ./footer.pug
       